{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 row">
    <div class="text-center" style="margin-top:10%">
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50"/>
            <br/>
            Password: <input type="password" name="password" value="" size="50"/>
            <br/>

            <input type="submit" class="btn btn-primary" value="submit"/>
            <a href="{% url 'core:register' %}?next={{ request.path }}" class="btn btn-primary">Register</a>
        </form>
    </div>
</div>
{% endblock %}
