{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="page-header" id="banner">
    <div class="row text-center" style="margin-top:10%">
        <h2>Register</h2>
    </div>
</div>
<div class="col-sm-8 col-sm-offset-2">
    {% if registered %}
    <div class="row text-center" style="margin-top:10%">
        <h2>Thank you for registering!</h2>
        <a href="/" class="btn btn-primary">Return to the homepage.</a><br/>
    </div>
    {% else %}
    <div class="pull-left">
        <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" class="btn btn-primary" value="Register"/>
            <a href="/" class="btn btn-primary">Return to the homepage.</a><br/>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
