<!doctype html>
{% load compress %}
{% load replace %}
{% load staticfiles %}

{% comment %} paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ {% endcomment %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}PD Hub{% endblock %}</title>

    {% comment %} Core CSS includes (for inclusion on all pages) {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-cerulean.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">

    {% compress css %}
    {% comment %}
        Per-page CSS is compressed separately so that the global stuff doesn't get re-downloaded each time
    {% endcomment %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %} "></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li class="pull-left">
                    <a href="{% url 'core:profile' %}?next={{ request.path }}" class="btn btn-primary">
                    {{ request.user.username }}</a>
                </li>
                <li class="pull-left">
                    <a href="{% url 'core:pdp_list' %}?next={{ request.path }}" class="btn btn-primary">User PDP</a>
                </li>

                {% endif %}
                <li class="center">
                    <h2><a href="{% url 'core:base' %}?next={{ request.path }}" style="color:white">PDP Hub</a></h2>
                </li>
                {% if request.user.is_authenticated %}
                <li class="pull-right"><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<body>
<div class="container">
     <div class="page-header">
    </div>
    {% block content %} {% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">© 2015 Company, Inc. All Rights Reserved</p>
        <ul class="pull-right list-inline">
            <li>
                <a href="*">GitHub Project</a>
            </li>
            <li>
                <a href="*">Issues</a>
            </li>
        </ul>
    </div>
</footer>

{% comment %}
JavaScript at the bottom for fast page loading:
http://developer.yahoo.com/performance/rules.html#js_bottom
{% endcomment %}

{% compress js %}
{% comment %}
Core JS includes (for inclusion on all pages) to be specified here
{% endcomment %}
{% endcompress %}

{% compress js %}
{% comment %}
Per-page JS is compressed separately so that the global stuff doesn't get re-downloaded each time
{% endcomment %}
{% block extra_js %}{% endblock %}
{% endcompress %}
</body>

</html>
