{% extends "base.html" %}
{% load add_class %}

{% block head_js %}
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ actionitem_form.prefix }}").formset({
                prefix: "{{ actionitem_form.prefix }}"
            })
        })
    </script>

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1>Professional Development Plan</h1>
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group form-inline">
                <!--{{ form.as_p }}-->
                  {% for field in form %}
                    <div class="form-group">
                        <label class="form-label">{{ field.label }}</label> 
                        
                            {{ field|add_class:"form-control" }}      
                        
                    </div>
                  {% endfor %}
            </div>
            <fieldset>
                <legend>Action Items</legend>
                {{ actionitem_form.management_form }}
                {{ actionitem_form.non_form_errors }}
                {% for form in actionitem_form %}
                    {{ form.id }}
                    <div class="form-group row {{ actionitem_form.prefix }}">
                        <div id="title" class="col-md-offset-1 col-md-3">
                          {{ form.title.errors }}
                          {{ form.title.label_tag }}
                          {{ form.title|add_class:"form-control" }}
                        </div>
                        <div id="description" class= "col-md-8">
                          {{ form.description.errors }}
                          {{ form.description.label_tag }}
                          {{ form.description|add_class:"form-control" }}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Add plan" class="submit" />
        </form>
    </div>
</body>
</html>

{% endblock %}
