{% extends 'base.html' %}

{% load comments %}

{% block content %}
    <div class="page-header pull-right">
        <a href="{% url 'core:clone' plan.id %}" class="btn btn-primary" style="height: 40px; width: 150px">Clone</a>
    </div>
    <div class="row text-center" style="float: none; margin-left: 12%;margin-right: auto">
        <h2>PD Plan {{ plan.name }}</h2>
        </br></br>
    </div>
    <div class="row text-center" style="float: none;margin-left: 15%;margin-right: auto;">
            <div class="progress pull-center" style="width:60%; margin-left: 12%">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60%
              </div>
            </div>

        <div class="col-md-5">
         <div class="panel panel-default">
          <div class="panel-heading">Owner</div>
          <div class="panel-body">
            {{ plan.user }}
          </div>
         </div>
        </div>

         <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">Super-visor</div>
          <div class="panel-body">
            {{ plan.supervisor }}
          </div>
        </div>
        </div>

        <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading">Peers</div>
          <div class="panel-body">
            {% for peer in plan.peers.all %}
                <p>{{ peer.get_full_name }}</p>
            {% endfor %}
          </div>
        </div>
        </div>

        <div class="col-md-5">
         <div class="panel panel-primary">
          <div class="panel-heading">Action Items</div>
          <div class="panel-body">
            {% for actionitems in plan.actionitem_set.all %}
                {{ actionitems }}:
                {% if not actionitems.complete %}
                    <input type="checkbox" disabled /><br/>
                 {%  elif actionitems.complete %}
                    <input type="checkbox" checked="no"  disabled  /><br/>
                 {% endif %}
            {% endfor %}
          </div>
        </div>
        </div>

        <div class="col-md-8" style="margin-left: 10%">
        <div class="panel panel-info">
          <div class="panel-heading">Comments List</div>
          <div class="panel-body">
             {% render_comment_list for plan %}
          </div>
        </div>
        </div>

        <div class="col-md-8" style="margin-left: 10%">
        <div class="panel panel-info">
          <div class="panel-heading">Leave Comment</div>
          <div class="panel-body">
              {% render_comment_form for plan %}
          </div>
        </div>
        </div>
    </div>


{% endblock %}
