{% extends 'base.html' %}

{% load comments %}

{% block content %}
    <div class="page-header pull-right">
        <a href="{% url 'core:clone' 1 %}" class="btn btn-primary">Clone</a>
    </div>
    <div class="row center">

        <h2>PD Plan {{ plan.name }}</h2>

         <div class="panel panel-default" style="width: 30%; margin-top:3%">
          <div class="panel-heading">Owner</div>
          <div class="panel-body">
            {{ plan.user }}
          </div>

        </div>
        <div class="panel panel-default" style="width: 30%; margin-top:3%">
          <div class="panel-heading">Super-visor</div>
          <div class="panel-body">
            {{ plan.supervisor }}
          </div>
        </div>

        <div class="panel panel-primary" style="width: 30%; margin-top:3%">
          <div class="panel-heading">Peers</div>
          <div class="panel-body">
            {% for peer in plan.peers.all %}
                <p>{{ peer.get_full_name }}</p>
            {% endfor %}
          </div>
        </div>
         <div class="panel panel-default" style="width: 30%; margin-top:3%">
          <div class="panel-heading">Action Items</div>
          <div class="panel-body">
            {% for actionitems in plan.actionitem_set.all %}
                {{ actionitems }}:
                {% if not actionitems.complete %}
                    <input type="checkbox" disabled /><br/>
                 {%  elif actionitems.complete %}
                    <input type="checkbox" checked="no"  disabled  /><br/>
                 {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
    {% render_comment_list for plan %}
    {% render_comment_form for plan %}
{% endblock %}
